{{ define "menu" }}
	{{ partial "menu.html" . }}	
{{ end }}
{{ define "main" }}
	<!-- Intro -->
	<section id="top" class="dark cover project-hero" style="background-image: url({{ .Params.hero.image | safeHTMLAttr }});">
		<div class="container">

			<header>
				<h2 class="alt">{{ .Description }}</p>
			</header>

			<footer>
				<a href={{ printf "%s" $.Params.sitelink }} class="button scrolly">Visit Site</a>
			</footer>

		</div>
    </section>

    <section id="project">
        <div id="project-content">
            {{ .Content }}
        </div>
        <div id="project-sidebar">
            <ul>
                <li>
                    <strong>Agency</strong>
                    <p><a href={{ printf "%s" $.Params.agency.url }}>{{ .Params.agency.name }}</a></p>
                </li>
                <li>
                    <strong>Technologies</strong>
                    <p>{{ .Params.tech }}</p>
                </li>
            </ul>
        </div>
    </section>
    

{{ end }}