<!-- About Me -->
<section id="about" class="three">
    <div class="container">

        <header>
            <h2>About Me</h2>
        </header>

        <a href="#" class="image featured"><img src="img/about-me-forest.jpg" alt="" /></a>

        <p>
            I am a freelance Umbraco/ASP.NET MVC specialist based in beautiful Falmouth, Cornwall.  
            I help digital agencies and Umbraco Gold Partners from all over the UK, build fast, reliable, high-quality Umbraco-powered websites.
            I am <strong>available for remote-based work</strong> as well as at your location in <strong>London</strong> or <strong>Bristol</strong>.
        </p>
        <p>   
            If you are looking for a <strong>clean, hand-crafted Umbraco-powered website</strong>, made with fanatical attention to detail, 
            please <a href="#contact" class="scrolly">get in touch</a>. I look forward to discussing how I can help your project. 
        </p>

    </div>
</section>