<!-- Contact -->
<section id="contact" class="four">
    <div class="container">

        <header>
            <h2>Contact</h2>
        </header>

        <p>
            If you would like to speak to me about an upcoming project, request my CV, phone number - or just to say hi, 
            please send me a message.
        </p>

        <form action="https://app.99inbound.com/api/e/xoFran1E" method="POST">
            <div class="row">
                <div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Name" required="true" /></div>
                <div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Email" required="true" /></div>
                <div class="12u$">
                    <textarea name="message" placeholder="Message"required="true"></textarea>
                </div>
                <div class="12u$">
                    <input type="submit" value="Send Message" />
                </div>
            </div>
            <div style="position: absolute; left: -5000px;">
                <input type="checkbox" name="stupendous_mauve_argyle_whale" value="1" tabindex="-1" autocomplete="no"><!-- Anti spam measure -->
            </div>
        </form>

    </div>
</section>