<!-- Portfolio -->
<section id="portfolio" class="two">
    <div class="container">

        <header>
            <h2>Portfolio</h2>
        </header>

        <p>
            In 2010, I built my first Umbraco site.  I was hooked - I got <strong>Level 2 Umbraco certified</strong>, 
            got involved in the amazing developer community and never looked back.  Here are a few recent examples of my work.
            Please <a href="#contact" class="scrolly">contact me</a> to discuss how I can help you.
        </p>

        <div class="row">
            <div class="4u 12u$(mobile)">
            {{ range .Site.Params.portfolio1 }} 
              {{ if ne .url "" }}
                <a href="{{ .url }}">
                  {{ partial "card.html" . }}
                </a>
              {{ else }}
                {{ partial "card.html" . }}
              {{ end }}
            {{ end }}
            </div>

            <div class="4u 12u$(mobile)">
            {{ range .Site.Params.portfolio2 }} 
              {{ if ne .url "" }}
                <a href="{{ .url }}">
                  {{ partial "card.html" . }}
                </a>
              {{ else }}
                {{ partial "card.html" . }}
              {{ end }}
            {{ end }}
            </div>

            <div class="4u 12u$(mobile)">
            {{ range .Site.Params.portfolio3 }} 
              {{ if ne .url "" }}
                <a href="{{ .url }}">
                  {{ partial "card.html" . }}
                </a>
              {{ else }}
                {{ partial "card.html" . }}
              {{ end }}
            {{ end }}
            </div>
        </div>

    </div>
</section>