<!-- Portfolio -->
<section id="portfolio" class="two">
    <div class="container">

        <header>
            <h2>Portfolio</h2>
        </header>

        <p>
            In 2010, I built my first Umbraco site.  I was hooked - I got <strong>Level 2 Umbraco certified</strong>, 
            got involved in the amazing developer community and never looked back.  Here are a few recent examples of my recent work.
            Please <a href="#contact" class="scrolly">contact me</a> to discuss how I can help you.
        </p>

        <div class="row">
            <div class="4u 12u$(mobile)">
            {{ range .Site.Params.portfolio1 }} 
                <article class="item">
                    <a href="{{ .url }}" class="image fit"><img src="{{ .source }}" alt="{{ .alt }}" /></a>
                    <header>
                        <h3>{{ .title }}</h3>
                    </header>
                </article>
            {{ end }}
            </div>

            <div class="4u 12u$(mobile)">
            {{ range .Site.Params.portfolio2 }} 
                <article class="item">
                    <a href="{{ .url }}" class="image fit"><img src="{{ .source }}" alt="{{ .alt }}" /></a>
                    <header>
                        <h3>{{ .title }}</h3>
                    </header>
                </article>
            {{ end }}
            </div>

            <div class="4u 12u$(mobile)">
            {{ range .Site.Params.portfolio3 }} 
                <article class="item">
                    <a href="{{ .url }}" class="image fit"><img src="{{ .source }}" alt="{{ .alt }}" /></a>
                    <header>
                        <h3>{{ .title }}</h3>
                    </header>
                </article>
            {{ end }}
            </div>
        </div>

    </div>
</section>