<!-- Portfolio -->
<section id="portfolio" class="two">
    <div class="container">

        <header>
            <h2>Portfolio</h2>
        </header>

        <p>
            In 2010, I built my first Umbraco site.  I was hooked - I got <strong>Level 2 Umbraco certified</strong>, 
            got involved in the amazing developer community and never looked back.  Here are a few recent examples of my recent work.
            Please <a href="#contact" class="scrolly">contact me</a> to discuss how I can help you.
        </p>

        <div class="row">
            <div class="4u 12u$(mobile)">
            {{ range .Site.Params.portfolio1 }} 
                <a href="{{ .url }}">
                    <article class="item">
                        <img src="{{ .source }}" class="image fit" alt="{{ .alt }}" />
                        <header>
                            <h3>{{ .title }}</h3>
                        </header>
                    </article>
                </a>
            {{ end }}
            </div>

            <div class="4u 12u$(mobile)">
            {{ range .Site.Params.portfolio2 }} 
                <a href="{{ .url }}">
                    <article class="item">
                        <img src="{{ .source }}" class="image fit" alt="{{ .alt }}" />
                        <header>
                            <h3>{{ .title }}</h3>
                        </header>
                    </article>
                </a>
            {{ end }}
            </div>

            <div class="4u 12u$(mobile)">
            {{ range .Site.Params.portfolio3 }} 
                <a href="{{ .url }}">
                    <article class="item">
                        <img src="{{ .source }}" class="image fit" alt="{{ .alt }}" />
                        <header>
                            <h3>{{ .title }}</h3>
                        </header>
                    </article>
                </a>
            {{ end }}
            </div>
        </div>

    </div>
</section>