{{ define "main" }}
	<!-- Intro -->
	<section id="top" class="one dark cover">
		<div class="container">

			<header>
				<h2 class="alt">Hi! I'm <strong>Barry Fogarty</strong>, a Certified Umbraco Developer in Cornwall.</h2>
				<p>I make websites that are a joy to use, and a breeze to manage.  I've been doing it <strong>since 1998.</strong></p>
			</header>

			<footer>
				<a href="#portfolio" class="button scrolly">Recent Work</a>
			</footer>

		</div>
	</section>

	{{ partial "portfolio.html" . }}

	{{ partial "about.html" . }}
	
{{ end }}